.name{
    float: left;
    padding: 5px;
}
.img-fluid {
    float: left;
    padding: 2px;
    box-sizing: border-box;
    border: 2px solid;
    border-color: black;
    box-shadow: 2px dimgray;
}

.description {
    float: left;
    padding: 5px;
}
